<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/nlog-internal.txt">

	<targets>
		<target xsi:type="File" name="clientFile" createDirs="true"
				fileName="logs/client-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
				archiveFileName="logs/archives/client-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="7" />

		<target xsi:type="File" name="signalrFile" createDirs="true"
				fileName="logs/signalr-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
				archiveFileName="logs/archives/signalr-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="7" />

		<target xsi:type="File" name="errorFile" createDirs="true"
				fileName="logs/errors-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
				archiveFileName="logs/archives/errors-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="30" />

		<target xsi:type="Console" name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<logger name="ZakYip.PlcBridge.Client.Services.SignalRMessageClient" minlevel="Trace" writeTo="signalrFile,console" final="true" />
		<logger name="Microsoft.AspNetCore.SignalR.Client.*" minlevel="Debug" writeTo="signalrFile,console" final="true" />
		<logger name="Microsoft.AspNetCore.Http.Connections.Client.*" minlevel="Debug" writeTo="signalrFile,console" final="true" />

		<logger name="ZakYip.PlcBridge.Client.*" minlevel="Info" writeTo="clientFile,console" final="true" />
		<logger name="*" minlevel="Error" writeTo="errorFile,console" />
		<logger name="*" minlevel="Trace" writeTo="blackhole" final="true" />
	</rules>
</nlog>
